@font-face {
  font-family: medium;
  src: url(fonter/medium.otf);
}

:root {
  --light: #00ff00;
  --blue: red;
  --black: #222222;
  --gray: #2f2f2f;
}

* {
  margin: 0;
  font-family: medium;
}

.content{

}

.bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url(Bilder/screen.webp);
  background-size: cover;
  z-index: -99;
}

.nav {
  position: fixed;
  padding-top: 240px;
  translate: 0 -240px;
  height: 60px;
  left: 25%;
  right: 25%;
  background-color: var(--black);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0.95;
  transition: translate 0.5s;
  display: flex;
  justify-content: space-between;
}

.nav:hover {
  /*translate: 0;*/
}

.navleft {
  align-self: end;
  margin-bottom: 15px;
  margin-left: 15px;
  display: flex;
  display: inline-flex;
}

.navleft p{
  margin-top:5px;
  margin-right:2px;
  font-weight: bold;
  color: var(--gray);
  text-decoration: none;
}

.name {
  font-weight: bold;
  color: var(--light);
  font-size: 1.5rem;
  text-decoration: none;
}

.arrowright {
  position: absolute;
  padding: 3px;
  margin-left: 205px;
  margin-top:12px;
  border: solid black;
  border-width: 0 3px 3px 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.navcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.navcenter a {
  padding:15px;
  text-decoration: none;
  transition: transform 0.3s ease;
  color: var(--light)
}

.navcenter a:hover{
  transform: scale(1.1);
}

.navright a{
  padding:15px;
  text-decoration: none;
  transition: transform 0.3s ease;
  color: var(--light)
}

.navright a:hover{
  transform: scale(1.1);
}

.navright {
  align-self: center;
  display: flex;
  padding:6.5px;
}

.btn,
.btn *,
.btn :after,
.btn :before,
.btn:after,
.btn:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: var(--gray);
  color: var(--light);
  cursor: pointer;
  font-size: 100%;
  line-height: 1.5;
  margin: 0 3.25px 0 3.25px;
  -webkit-mask-image: -webkit-radial-gradient(var(--gray), var(--light));
  padding: 0;
  border-radius: 5px;
}
.btn:disabled {
  cursor: default;
}
.btn:-moz-focusring {
  outline: auto;
}
.btn svg {
  display: block;
  vertical-align: middle;
}
.btn [hidden] {
  display: none;
}
.btn {
  box-shadow: inset 0 0 0 2px var(--black);
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  padding: 0.6rem 1.5rem;
  position: relative;
  text-transform: uppercase;
  transition: color 0.1s linear;
}
.btn:after,
.btn:before {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
}
.btn:before {
  border-right: var(--border);
  border-top: var(--border);
  left: 0;
  top: 0;
}

/*Top-right Border*/

.btn:hover:before {
  --border: 4px solid var(--light);
  -webkit-animation: border-top-and-right 1s forwards;
  animation: border-top-and-right 1s forwards;
}
.btn:after {
  border-bottom: var(--border);
  border-left: var(--border);
  bottom: 0;
  right: 0;
  z-index: -1;
}

/*Bottom-Left Border*/

.btn:hover:after {
  --border: 4px solid var(--light);
  -webkit-animation: border-bottom-and-left 1s forwards;
  animation: border-bottom-and-left 1s forwards;

/* Animation*/

}
@-webkit-keyframes border-top-and-right {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    height: 0;
    width: 100%;
  }
  to {
    height: 100%;
    width: 100%;
  }
}
@keyframes border-top-and-right {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    height: 0;
    width: 100%;
  }
  to {
    height: 100%;
    width: 100%;
  }
}
@-webkit-keyframes border-bottom-and-left {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    height: 0;
    width: 100%;
  }
  to {
    height: 100%;
    width: 100%;
  }
}
@keyframes border-bottom-and-left {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    height: 0;
    width: 100%;
  }
  to {
    height: 100%;
    width: 100%;
  }
}
/*grid*/
.content {
  position: absolute;
  top:25%;
  left:60%;
  display: grid;
  grid-template-areas: 
    "content content content content content"
    "content content content content content"
  }

  .bear{
    
    width: 16rem;
    height: auto;
    border-radius: 15px;

  }

  .content-left{
    background-color: var(--black);
  }